@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins'
}
.headerImageTexts{
    position: absolute;
    top: 30%;
    text-align: center;
    display: inline-block;
    margin-left: 30%;
    margin-right: auto;
    color: white;
}
.headerImageTexts h1{
    font-weight: lighter;
    font-family: 'NewYork';
    font-size: 64px;
}
.headerImageTexts p{
    letter-spacing: 3px;
    margin-top: 10px;
}
.navtwo{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.navtwo a{
    text-decoration: none;
    color: #565656;
    font-weight: 600;

}
.MainContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    row-gap: 30px;
    margin-left: 50px;
    }
.card{
    width: 300px;
    background-color: #EFEEF1;
    height: 400px ;
    text-align: left;
    border-radius: 10px;
}
.productType{
    color: #565656;
    font-weight: 500;
}
.productName{
    font-weight: 600;
}
.productPrice{
    font-weight: 600;
}
.productWeight{
    color: #565656;
}
.texts{
    margin-left: 25px;
}
.imgContainer{
    text-align: center;
}
.buyBtn{
    color: white;
    background-color: #1A1A1A;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}
.iconDiv{
    display: flex;
}

.iconBtn{
    background-color: #F1CCE1;
    margin-left: 10px;
    padding: 2px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.iconBtn img {
    padding-top: 8px;
}
.btnsContainer{
    display: flex;
    align-items: center;
}
.pageNums{
    width: 30%;
    margin-left: 40%;
    margin-top: 40px;
}
.pageNums button{
    padding: 4px 12px;
    margin: 10px;
    border-radius: 6px;
    border: #1A1A1A solid 1px;
    font-weight: bold;
}
.pageNums button:active{
    background-color: #DC82B5;
    color: white;
    border: none;
}

.summary-container {
    background-color: #EFEEF1;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: right;
    position: absolute;
    top: 10%;
    right: 25%;
    margin-top: 5.6%;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1em;
    color: #565656;
}

.summary-item.total {
    font-weight: bold;
    color: #1A1A1A;
}

.checkout-button {
    background-color: #DC82B5;
    color: #EFEEF1;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 30%;
    /* transition: background-color 0.3s; */
}

/* .checkout-button:hover {
    background-color: #ff4da6;
} */
.checkoutContainer{
    margin-top: 3%;
}
.product-list {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 6%;
  margin-bottom: 100px;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.product-item:last-child {
  border-bottom: none;
}

.product-checkbox {
  margin-right: 10px;
}
.product-checkbox input{
    /* position: absolute; */
        /* opacity: 0; */
        /* cursor: pointer; */
        height: 25px;
        width: 25px;
        accent-color: #DC82B5;
        /* color: white */
}
.product-checkbox span{
    background-color: #EFEEF1;
}
.product-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 10px;
}

.product-info {
  flex-grow: 1;
}

.product-info h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
color: #1A1A1A
}

.product-info p {
  margin: 0px 0 5px;
  color: #565656;
  font-size: 0.8em;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #F1CCE1;
  color: black;
  border: none;
  padding: 1px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1em;
}

.product-price {
  font-size: 1.2em;
  font-weight: 500;
  color: #1A1A1A;
}
